In [7]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import adjusted_rand_score
from sklearn.metrics.pairwise import linear_kernel

In [2]:
data = pd.read_csv('/content/description.csv',encoding='latin-1')

In [3]:
data.head()

   book_id  ...                                        description
0   4833.0  ...  A tender, moving tale of unconditional love in...
1    590.0  ...  Born into a Jewish ghetto in Hungary, as a chi...
2   4264.0  ...  Imbued on every page with Frank McCourt's asto...
3   3361.0  ...  A celebrated writer's irresistible, candid, an...
4   4535.0  ...  A bank of clouds was assembling on the not-so-...

[5 rows x 3 columns]

In [4]:
vectoriser = TfidfVectorizer(stop_words='english')

In [5]:
data['description'] = data['description'].fillna('')

In [6]:
books_desc_matrix = vectoriser.fit_transform(data['description'])

In [8]:
books_desc_matrix.shape

(143, 4186)

In [16]:
cosine_similarity = linear_kernel(books_desc_matrix,books_desc_matrix)
cosine_similarity

array([[1.        , 0.03240804, 0.021228  , ..., 0.005362  , 0.01071911,
        0.00532216],
       [0.03240804, 1.        , 0.02661665, ..., 0.        , 0.00510551,
        0.        ],
       [0.021228  , 0.02661665, 1.        , ..., 0.01079403, 0.        ,
        0.00563089],
       ...,
       [0.005362  , 0.        , 0.01079403, ..., 1.        , 0.        ,
        0.01875445],
       [0.01071911, 0.00510551, 0.        , ..., 0.        , 1.        ,
        0.05737646],
       [0.00532216, 0.        , 0.00563089, ..., 0.01875445, 0.05737646,
        1.        ]])

In [17]:
indices = pd.Series(data['name'].index)

In [18]:
def recommend(index,cosine_sim = cosine_similarity):
  id = indices[index]
  sim_scores = list(enumerate(cosine_sim[id]))
  sim_scores = sorted(sim_scores,key= lambda x:x[1],reverse=True)
  sim_scores = sim_scores[1:6]
  books_index =[i[0] for i in sim_scores]
  return data['name'].iloc[books_index]

In [19]:
recommend(6)

2            Angela's Ashes (Frank McCourt, #1)
9         A Child Called "It" (Dave Pelzer, #1)
21         Wild Swans: Three Daughters of China
22    A Long Way Gone: Memoirs of a Boy Soldier
29                    The Diary of a Young Girl
Name: name, dtype: object