In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans 
from sklearn.metrics import adjusted_rand_score
import pandas as pd
import numpy as np

In [8]:
data_description = pd.read_csv('description.csv',encoding='latin-1')

In [9]:
data_description.head()

   book_id  ...                                        description
0   4833.0  ...  A tender, moving tale of unconditional love in...
1    590.0  ...  Born into a Jewish ghetto in Hungary, as a chi...
2   4264.0  ...  Imbued on every page with Frank McCourt's asto...
3   3361.0  ...  A celebrated writer's irresistible, candid, an...
4   4535.0  ...  A bank of clouds was assembling on the not-so-...

[5 rows x 3 columns]

In [10]:
vectoriser = TfidfVectorizer(stop_words='english')

In [12]:
data_description['description'] = data_description['description'].fillna('')

In [13]:
X = vectoriser.fit_transform(data_description['description'])

In [14]:
true_k =2

In [15]:
model = KMeans(n_clusters=true_k,init='k-means++',max_iter=100,n_init=1)

In [16]:
model.fit(X)

KMeans(max_iter=100, n_clusters=2, n_init=1)

In [20]:
order_centroids = model.cluster_centers_.argsort()[:,::-1]

In [21]:
terms = vectoriser.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [25]:
Y = vectoriser.transform(['A tender, chrome browsers open'])

In [26]:
pred = model.predict(Y)

In [27]:
print(pred)

[0]